[submodule "MachGL/Vendor/include/glfw"]
	path = MachGL/Vendor/glfw
	url = https://github.com/machgl/glfw
[submodule "MachGL/Vendor/include/glm"]
	path = MachGL/Vendor/glm
	url = https://github.com/g-truc/glm
[submodule "MachGL/Vendor/yaml-cpp"]
	path = MachGL/Vendor/yaml-cpp
	url = https://github.com/machgl/yaml-cpp

[submodule "MachGL/Vendor/openal-soft"]
	path = MachGL/Vendor/openal-soft
	url = https://github.com/machgl/openal-soft
